.nav-aside {
    float: right;
    min-width: 250px;
    background: linear-gradient(#333, black)
}

.nav-list-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-list-group > li {
    list-style: none outside none;
    padding: 20px 40px;
    margin: 10px 20px;
    border: 1px solid transparent;
}

.nav-list-item > a {
    color: white;
    font-style: normal;
}

.nav-list-item:hover {
    color: yellowgreen;
    font-style: normal;
    border: 1px solid yellow;
    transition: 420ms ease-in-out;
    background-color: black;
    backdrop-filter: blur(5px);
}