:root {
    background: linear-gradient(#333, black);
}

h1, h2, h3 {
    text-align: center;
    color: white;
}
/* Home page styling */
.home-header {
  color: rgb(255, 13, 191);
  line-height: 420px;
  font-size: 96px;
  font-family: 'Graduate', cursive;
  text-shadow: 2px 5px black;
  margin-left: 120px;
}


.rumble:hover {
    animation: shake 420ms;
    animation-iteration-count: infinite;
  }

.enlarge {
  transition: 1420ms ease-in-out;
}

.enlarge:hover {
    animation: enlarge 1420ms;
}

.hide {
  display: none;
  transition: 420ms ease-in-out;
}

.home-btns {
  margin: 40px auto;
  bottom: 20%;
  width: 420px;
  height: 80px;
  background: transparent;
}

.login, .sign-up {
  color: rgb(44, 43, 29);
  width: 200px;
  font-size: 18px;
  padding: 20px 40px;
  margin: 40px 20px;
  border: 2px solid transparent;
  background: white;
  cursor: pointer;
  text-align: center;
  transition: 420ms ease-in-out;
}

.login:hover, .sign-up:hover {
  color: white;
  border: rgb(255, 13, 191) 2px solid;
  background: rgb(0, 0, 0, 0.75);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 100px 25px black;
}

#myVideo {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  box-shadow: inset 0 0 1000px black;
}

/* Profile Page Styling */

.fight-card {
  color: #333;
  justify-content: center;
  background: rgb(256, 256, 256, 0.85);
  width: 640px;
  margin: 10px auto;
  padding: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 100px 25px black;
}

/* Social Page Styling */
.add-comment {
  height: 240px;
}

form {
  padding: 20px;
  height: 240px;
  flex-direction: column;
  justify-items: space-evenly;
}

.add-comment > form > button {
  height: 36px;
  width: 80px;
  padding: auto;
  font-size: 14px;
  text-align: center;
  margin: 10px auto;
  background: transparent;
  border: 2px solid transparent;
}

form > button:hover {
  background:lightgray;
  transition: 420ms ease-in-out;
}

.add-comment, .add-post > textarea {
  margin: 40px 10px;
  padding: 20px;
}

.post {
  background: white;
  width: 420px;
  margin: 20px auto;
  padding: 20px 40px;
  padding-top: 0px;
}

.post-btn {
  background: white;
  margin: 20px 40px;
  border: 2px solid white;
}

.post-btn:hover {
  background: #333;
  color: white;
  border: rgb(255, 13, 191) 2px solid;
  transition: 420ms ease-in-out; 
}

.post-controls {
  justify-content: space-around;
}

.post-controls > button {
  background: transparent;
  border: 1px solid transparent;
  padding: 10px 15px;
}

.post-controls > button:hover {
  border: rgb(255, 13, 191) 1px solid;
  transition: 420ms ease-in-out; 
}

/* Scheduling (Events) Page Styling */
.schedule-cont {
  background-color: rgb(256, 256, 256, 0.8);
  width: 640px;
  margin: 40px auto;
}

.schedule-cont > h2 {
  color: #333;
  margin-top: 40px;
}

.fight-scheduler > .form-control {
  padding: 6px 10px;
    margin: 8px 10px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    width: 75%;
}

.time-input {
  width: 77px !important;
    margin-right: 10px;
}

.fight-sub {
  margin: 0px;
  width: 100% !important;
}

.fight-sub:hover {
  background: #333;
  color: white;
  transition: 420ms ease-in-out;
  
}

/* Animation */
 @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes enlarge {
      0%{ transform: scale(1); }
      100% { transform: scale(1.25); }
  }