.stats {
    color: white;
    width: 280px;
    padding: 10px;
    border: 1px solid rgb(255, 13, 191);
    margin: 20px auto;
}

.stats-ul {
    list-style: none outside none;
    padding: 10px 20px;
    margin: 0px 20px;
    border: 1px solid transparent;
}

.stats-ul > li {
    color: #333;
    padding: 10px 0px;
    margin: 0px auto;
}